# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary Manga Translation files
cypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db
.vscode/

# Python build and packaging
*.egg-info/
build/
dist/
releases/

# Config
cypy_profile.json
data/